.main.about-page {
    gap: 38px;
}
.collapse-zone {
    display: flex;
    flex-direction: column;
    margin: 0px 108.5px 0px 108.5px;
    gap: 20px;
}

@media (max-width: 768px) {
    .collapse-zone {
        margin: 0px;
    }
    }