.Banner-zone {
    position: relative;
    width: 100%;
    height: 223px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden; /* Pour s'assurer que l'image reste dans les limites de la bannière */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    
}

.Banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Gère la taille de l'image pour couvrir tout l'espace sans déformation */
    z-index: -1; /* Place l'image en dessous du texte */
    filter: brightness(50%); 
}

.Banner-zone h2 {
    position: relative;
    color: white; /* Couleur du texte */
    font-size: 48px; /* Ajustez la taille du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour rendre le texte lisible sur l'image */
    z-index: 1;
    
}

@media (max-width: 768px) {
    .Banner-zone {
        height: 111px;
        border-radius: 10px;
    }
    .Banner-zone h2 {
        font-size: 24px; 
        height: 48px;   
    }
    
    }