.collapse {
    position: relative;
    display: inline-block;
    
}
.collapse.wide {
    max-width: 100%;
    margin: 0px 108.5px 0px 108.5px;
}
.collapse.narrow {
    width: 47%;
}
.collapse-button {
    background-color: #FF6060;
    color: white;
    width: 100%;
    padding: 10px 20px 10px 15px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse-button i {
    margin-left: 8px;
    transition: transform 0.3s;
}

/* Contenu du menu */
.collapse-content {
    background-color: #f9f9f9;
    min-width: 160px;
    font-size: 18px;
    z-index: 1;
}

.collapse-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Style lorsque le menu est ouvert */
.show {
    display: block;
}

/* Animation pour l'icône fléchée */
.rotate {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .main.about-page {
        gap: 20px;
    }
    .collapse.wide {
        margin: 0px;
    }
    }