.error-title {
    font-size: 288px;
    font-weight: 700;
    color: #ff6060;
    display: flex;
    justify-content: center;
    margin: 0;
}
.error-text {
    font-size: 36px;
    color: #ff6060;
    font-weight: 500;
    display: flex;
    justify-content: center;

}
.main.error-page {
    gap: 139px;
}

@media (max-width: 768px) {

.main.error-page {
    gap: 113px;
}
.error-title {
    font-size: 96px;
}
.error-text {
    font-size: 18px;
    text-align: center;
    margin: 0px;
}
a.error-link {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: black;
    justify-content: center;
    text-decoration: underline;
}
}