header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 100px 0px 100px;
    align-items: center;
}
header h1 {
    height: 68px;
    margin: 0px;
}
.header-image {
    height: 68px;
}
nav {
    display: flex;
    gap: 57px;

}
 a {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    justify-content: center;
 }
 a:hover {
    text-decoration: underline;
 }
 @media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0px 0px 0px;
        align-items: center;
    }

    header h1 {
        height: 46px;
    }
    .header-image {
        height: 46px;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 26px;
    }

    a {
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        color: black;
        justify-content: flex-start;
    }

    a:hover {
        text-decoration: underline;
    }
}
