.host-Info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
.host-Name {
    font-size: 18px;
    color: #FF6060;
    font-weight: 500;
    text-align: right;
}
.host-Picture {
    border-radius: 90px;
    height: 64px;
    width: 64px;
}
@media (max-width: 768px) {
    .host-Name {
        font-size: 12px;
    }
    .host-Picture {
        height: 32px;
        width: 32px;
    }
  }