.appartmentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hostRating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.collapseContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tags-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}