
.appartmentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 0px 20px 0px;
}
.appartmentTag {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}
.hostRating {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.collapseContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.collapse-list {
    display: flex;
    flex-direction: column;
}

.tags-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 768px) {
    .appartmentInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hostRating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .collapseContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    .collapse.narrow {
        width: 100%;
    }
}