.appartment-Title{
    font-size: 36px;
    color: #FF6060;
    font-weight: 500;
    margin: 0;
}
.location-Info {
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 20px 0px;
}

@media (max-width: 768px) {
    .appartment-Title {
        font-size: 18px;
    }
    .location-Info {
        font-size: 14px;
        margin: 0px;
    }
}