.tag-text {
    border: 1px solid #FF6060;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    padding: 3px 2em 2px 2em;
    height: 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (max-width: 768px) {
    .tag-text{
        height: 18px;
        font-size: 10px;
        padding: 2.16px 2em 1.84px 2em;
        border-radius: 5px;
    }
}